[submodule "server"]
	path = server
	url = https://github.com/StardustXR/server
[submodule "flatland"]
	path = flatland
	url = https://github.com/StardustXR/flatland
[submodule "comet"]
	path = comet
	url = https://github.com/StardustXR/comet
